@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Octopus Deploy Demo</h1>
    <p class="lead">Octopus is a friendly deployment automation tool for .NET developers.</p>
    <p><a href="http://octopus.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Built for .NET developers</h2>
        <p>
            We're .NET developers, and we set out to build a deployment tool that we would use. Octopus doesn't require you to be a PowerShell guru, or to be an expert on configuring IIS. Built-in features and conventions for designed specifically for .NET applications make deploying your applications easy.
        </p>
        <p><a class="btn btn-default" href="http://octopus.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Does one thing, does it well</h2>
        <p>You already have a source control server and a build server. Octopus doesn't replace them; it takes over where they finish off. Build/CI servers are great at compiling code and running tests. Octopus is great at taking the built artifacts, and configuring and distributing them to all the machines and environments that they need to run in.</p>
        <p><a class="btn btn-default" href="http://octopus.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scales with you</h2>
        <p>Octopus is used everywhere, from small teams with a handful of servers, to enterprises with hundreds of teams deploying to thousands of servers from a single Octopus instance. Out of the box, Octopus is secure, changes are audited, deployment logs are centralized, and high availability options are available.</p>
        <p><a class="btn btn-default" href="http://octopus.com">Learn more &raquo;</a></p>
    </div>
</div>