@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Octopus Deploy Demo</h1>
    <p class="lead">Octopus 4.0 has shipped and brings with it a new UI and improved user experience.</p>
    <p><a href="http://octopus.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fast, repeatable, reliable deployments</h2>
        <p>
            Octopus takes over where your Continuous Integration server ends, enabling you to easily automate even the most complicated application deployments, whether on-premises or in the cloud.
        </p>
        <p><a class="btn btn-default" href="http://octopus.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Promote releases between environments</h2>
        <p>Octopus takes care of your dev, QA, acceptance testing and production deployments. Limit who can deploy to production, ensure releases have been tested first, schedule deployments for later tonight, or block promotion of broken releases.</p>
        <p><a class="btn btn-default" href="http://octopus.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Complex deployments made easy</h2>
        <p>High level deployment steps for .NET, Java and other platforms, the ability to run custom scripts, management of sensitive variables, and advanced deployment patterns means Octopus can simplify even the most complicated application deployments.</p>
        <p><a class="btn btn-default" href="http://octopus.com">Learn more &raquo;</a></p>
    </div>
</div>
